@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Righteous";
  margin: 0;
  padding: 0;
}

body {
  background: #f3f5f8;
  background-size: cover;
}

.contHeader {
  background: #f3f5f8;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid #7f00ff;
}
.contHeader header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.contHeader header .logo a {
  font-family: "Righteous";
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #7f00ff;
  text-decoration: none;
}
.contHeader header ul {
  display: flex;
  list-style: none;
}
.contHeader header nav ul li a {
  text-align: none;
  color: #3d535f;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
  transition: 0.35s;
}
.contHeader header nav ul li a:hover {
  color: #7f00ff;
  font-size: 1.5em;
}

.nav-responsible {
  background-color: #7f00ff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.inicio {
  background: #f3f5f8;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}
.inicio .inf {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
}
.inicio .inf::before {
  position: absolute;
  content: "";
  height: 400px;
  width: 400px;
  border-radius: 50%;
  left: -12%;
  top: 40%;
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: object1 3s linear infinite;
  z-index: 1;
}
.inicio .inf::after {
  position: absolute;
  content: "";
  height: 100px;
  width: 100px;
  border-radius: 50%;
  left: 35%;
  top: 15%;
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: object2 6s linear infinite;
}
.inicio .inf .inf-text {
  max-width: 50%;
  z-index: 10;
}
.inicio .inf .inf-text .decLinea {
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 2px;
  color: #3d535f;
}
.inicio .inf .inf-text .decLinea::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 35px;
  bottom: 8px;
  background-color: #7f00ff;
}
.inicio .inf .inf-text h1 {
  display: block;
  font-size: 40px;
  font-weight: 900;
  color: #3d535f;
}
.inicio .inf .inf-text h1 .multiText {
  color: #7f00ff;
}
.inicio .inf .inf-text p {
  display: block;
  width: 100%;
  font-size: 1.2em;
  color: #3d535f;
}
.inicio .inf .inf-text .boton {
  width: 100%;
  position: relative;
  left: 30%;
}
.inicio .inf .inf-text .boton button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background-color: #3d535f;
  padding: 8px 14px;
  margin: 40px 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.inicio .inf .inf-text .boton button:hover {
  background-color: #7f00ff;
}
.inicio .inf .inf-img {
  z-index: 9;
}
.inicio .inf .inf-img .imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  top: 70px;
}
.inicio .inf .inf-img .imgbox img {
  position: relative;
  height: 100%;
  width: 400px;
  top: -100px;
  right: 50px;
  animation: animateUser 4s linear infinite;
}
.inicio .inf .inf-img .imgbox #splash {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 110%;
  animation: animate 4s linear infinite;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 30px 100px;
  justify-content: flex-end;
  align-items: flex-end;
  background: #f3f5f8;
}
footer .redes {
  z-index: 20;
}
footer .redes a {
  font-size: 30px;
  color: #3d535f;
  margin: 25px 10px;
  z-index: 1000;
  transition: 0.35s;
}
footer .redes a:hover {
  color: #7f00ff;
  font-size: 3.5em;
}

@keyframes animateUser {
  50% {
    right: 30px;
    top: -90px;
  }
}
@keyframes animate {
  50% {
    top: 49%;
    left: 51%;
    width: 105%;
  }
}
@keyframes object1 {
  50% {
    left: -13%;
    top: 41%;
  }
}
@keyframes object2 {
  50% {
    left: 35%;
    top: 12%;
  }
}
@media screen and (max-width: 980px) {
  nav {
    display: none;
  }
  .nav-responsible {
    display: block;
  }
  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #f3f5f8;
    width: 220px;
  }
  nav.responsive ul {
    display: block !important;
  }
  nav.responsive ul li {
    border-bottom: 1px solid #7f00ff;
    padding: 10px 0;
  }
}
@media screen and (max-width: 767px) {
  .inicio .inf {
    flex-direction: column;
  }
  .inicio .inf .inf-text {
    margin-top: 150px;
    margin-left: -200px;
  }
  .inicio .inf .inf-img .imgbox {
    margin-left: 80px;
  }
  .inicio .inf .inf-img .imgbox img {
    width: 40%;
  }
  .inicio .inf .inf-img .imgbox #splash {
    display: none;
  }
  .inicio .inf::before {
    height: 200px;
    width: 200px;
  }
}/*# sourceMappingURL=styles.css.map */